.logo {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: -10px;
}

.fieldset {
  border: 2px solid #f4574c;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  .items {
    width: calc(100% - 20px);
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item {
      margin-top: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      width: calc(25% - 20px);
      margin-bottom: 10px;
      text-align: center;
      align-items: center;
      transition: transform 0.3s ease;
      .title {
        &:hover {
          color: red;
          cursor: pointer;
        }
        margin: 0;
      }
      .button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          border: none;
          cursor: pointer;
          padding: 6px;
          border-radius: 6px;
          background-color: #ef6056;
          color: #fff;
          width: 80px;
          height: 30px;
          margin: 0 4px;
          font-size: 14px;
          align-items: center;
          margin-bottom: 10px;
        }
      }
      &:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
        cursor: pointer;
        animation: jumpAnimation 0.5s;
      }
      @keyframes jumpAnimation {
        50% {
          transform: translateY(-4px);
        }
      }
    }
  }
}
